
.clearfix:after{
    content:"";
    display:block;
    clear:both;
}

/* button {
   @include border-radius;
} */

.loading{
    background:url("../assets/loading.gif") no-repeat center;
    height:2.4rem;
}